{:paths ["src"]
 :deps
 {metosin/malli
  {:git/url "https://github.com/metosin/malli"
   :sha     "8223df795d1c5c3383d305f2f77dbe30d9460e76"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :main-opts   ["-m" "kaocha.runner"]
   :extra-deps
   {lambdaisland/kaocha      {:mvn/version "0.0-554"}
    lambdaisland/kaocha-cljs {:mvn/version "0.0-59"}}}}}
