{:paths ["src"]
 :deps
 {metosin/malli
  {:git/url "https://github.com/metosin/malli"
   :sha     "a5bd5806d25fadb2f0025361189a641f50988df9"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :main-opts   ["-m" "kaocha.runner"]
   :extra-deps
   {lambdaisland/kaocha      {:mvn/version "0.0-554"}
    lambdaisland/kaocha-cljs {:mvn/version "0.0-59"}}}}}
